HTTP_PORT=3205
VITE_PORT=5174
VITE_API_URL=http://localhost:3205

MQTT_URL=mqtt://drillcloud.ru:1883

IMPORTANT_TOPICS=data/edge5/video/v2/+,data/edge5/modbus/v3
EDGE5_MODBUS_EXPECTED_TAGS=7
EDGE5_VIDEO_EXPECTED_CAMERAS=3
TOPIC_STALE_MS=15000
TOPIC_DEAD_MS=45000

MATRIX_ENABLED=false
MATRIX_HOMESERVER=https://matrix.greact.online
MATRIX_ROOM_ID=
MATRIX_ACCESS_TOKEN=
