HTTP_PORT=3205
VITE_PORT=5174
VITE_API_URL=http://localhost:3205

MQTT_URL=mqtt://broker.example.com:1883
MQTT_USERNAME=
MQTT_PASSWORD=

IMPORTANT_TOPICS=data/edge5/video/v2/+,data/edge5/modbus/v3
IMPORTANT_CAMERAS=camera-11,camera-12,camera-13
TOPIC_SILENCE_MS=45000

TELEGRAM_ENABLED=false
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_PROXY_HOST=
TELEGRAM_PROXY_PORT=8443
TELEGRAM_PROXY_SECRET=
